h1{
	text-align: center;
	padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
  background:#28B463 ;
  width: 100%;
	font-family: alegria
	font-size:70px;
	color:#17202A;
	padding: 50px  0px;
	
}
h2{
  text-align: center;
  color:#17202A;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  background:#28B463; 
}
.p{
	border:5px solid #87CEEB;
	text-align: center;
  color:#000;
  width: 100%;
 
}
.m{
  text-align: right;
  background:#87CEEB;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}
.wa{
  text-align: center;
  background:#008000;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
}
.e{
  background:#87CEEB;
  width: 100%;
  background: url("../image/1.jpg");
  background-size: cover;
  height: 500px !important;
  padding: 0;
}
.wa{
	 padding: 5px !important;
  color:#E62026;
}
.o{
  border:0px solid;
  margin:0 !important;
  text-align:center;
  color:#87CEEB;
 }
.imagen1 {
	width: 500px;
color:#87CEEB
    margin-left: 130px; 
    padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
}
.li{
 padding: 5px !important;
  color:#E62026;	
}
a.{
	border:5px solid #87CEEB;
  margin:5 !important;
  text-align:center;
}
.em{

  border:1px solid #000;
  margin:0 !important;
  text-align: center;

}
.p1{
	border:5px solid #87CEEB;
  text-align: right;
  color: #000;
}

.logo1{
	width: 500px;
color:#87CEEB
    margin-left: 1330px; 
    padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
  }
  .p2{
	border:5px solid 
  margin:5 !important;
  text-align: left;
  color: #87CEEB;
}
body {background-image: url(https://www.cs.us.es/~fsancho/images/2019-09/ia.gif);
}
.foto{
    width: 250px;
color:#87CEEB
    margin-left: 100px; 
    padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
}